<header class="header">
  <div class="header-logo">
    <%= image_tag "aleitu-logo.png", class: "header-logo-pict" %>
  </div>
  <div class="header-nav">
    <ul class="header-list">
      <li class="header-list-item">dammy</li>
      <li class="header-list-item">dammy</li>
      <li class="header-list-item">dammy</li>
    </ul>
    <div class="header-right-wrapper">
      <ul class="header-list">
        <li class="header-list-item">ルーム名ダミー</li>
        <li class="header-list-item">ユーザー名ダミー</li>
        <li class="header-list-item">ログアウトボタン</li>
      </ul>
    </div>
  </div>
</header>
<div class="main">
  <div class="top-wrapper">
    <%= image_tag "aleitu-hero.jpg", class: "top-hero-pict" %>
  </div>
  <div class="center-container">
    <div class="center-left-wrapper">
      <h2 class="wrapper-title">Reminds</h2>
      <p class="wrapper-subtitle">リマインド一覧</p>
      <ul>
        <li class="left-wrapper-list-item">
          <div class="list-item-contents">
            <div class="list-item-left-inner">
              <div class="remind-date">
                1月1日
              </div>
              <div class="remind-title">
                ダミースケジュール
              </div>
            </div>
            <div class="list-item-right-inner">
              <div class="remind-next-schedule">
                次回:2月1日
              </div>
              <%= link_to "完了", "#", class: "completion btn" %>
              <%= link_to "skip", "#", class: "skip btn" %>
            </div>
          </div>
        </li>
        <li>dammy</li>
        <li>dammy</li>
        <li>dammy</li>
        <li>リマインド一覧ページへ移動</li>
      </ul>
    </div>
    <div class="center-right-wrapper">
      <div class="right-contents-outer">
        btn area
      </div>
      <div class="right-contents-outer">
        follow list area
      </div>
    </div>
  </div>
  <div class="bottom-wrapper">
    <h2 class="wrapper-title">Recent Articles</h2>
    <p class="wrapper-subtitle">最近の投稿一覧</p>
    dammy
    dammy
  </div>
</div>
<footer class="footer">
  <p>Now development... by MOTOKESHI</p>
</footer>