.footer{
  position: fixed;
  margin-left: 5px;
  bottom: 5px;
  height: 25px;
  width: calc(100vw - 10px);
  border-radius: 3px;
  background-color: gray;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  box-shadow: 3px 3px 6px gray;
}
