.root-main {
  background-color: #fff;
  width: calc(100vw - 60px);
  margin: 0 30px;
}

.top-wrapper {
  text-align: center;
}

.top-hero-pict {
  width: 90vw;
}

.center-container {
  display: flex;
  width: 95vw;
  margin: 20px 0;
}

.wrapper-title {
  font-size: 40px;
}

.wrapper-subtitle {
  border-bottom: grey solid 1px;
  color: gray;
}

.center-left-wrapper {
  width: 1000px;
  border-radius: 10px;
  border: gray solid 3px;
  padding: 5px;
}

.list-item-contents {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 20px;
}

.left-wrapper-list-item:hover {
  background-color: lightsalmon;
  font-weight: bold;
}

.list-item-left-inner {
  display: flex;
}

.remind-date {
  margin-right: 10px;
}

.remind-next-schedule {
  margin-top: 5px;
  margin-right: 10px;
  color: gray;
  font-size: 16px;
}

.list-item-right-inner {
  display: flex;
}

.completion {
  border: red 1px solid;
  color: red;
  font-size: 18px;
}

.completion:hover {
  background-color: red;
  color: #fff;
}

.skip {
  border: blue solid 1px;
  color: blue;
  font-size: 18px;
}

.skip:hover {
  background-color: blue;
  color: #fff;
}

.center-right-wrapper {
  width: calc(95vw - 1000px);
  text-align: right;
}

