.main-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: whitesmoke;
}

.main-contents:hover {
  border: 5px solid lightsalmon;
  background-color: lightsalmon;
  font-weight: bold;
  box-shadow: 0px 0px 12px gray;
}

.main-contents-left-inner {
  display: flex;
}

.remind-date {
  margin-right: 10px;
}

.remind-next-schedule {
  margin: 5px 0 0 10px;
  width: 90px;
  color: dimgray;
  font-size: 13px;
}

.main-contents-right-inner {
  display: flex;
}

.completion {
  border: orangered 1px solid;
  color: orangered;
  font-size: 20px;
}

.completion:hover {
  background-color: red;
  color: #fff;
}

.skip {
  border: royalblue solid 1px;
  color: royalblue;
  font-size: 20px;
}

.skip:hover {
  background-color: blue;
  color: #fff;
}

.center-right-wrapper {
  width: calc(95vw - 1000px);
  text-align: right;
}

.user-info-btn-area {
  margin: 10px auto 10px;
  width: fit-content;
}

.user-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.user-info-content {
  margin: 0 auto 5px;
  width: 95%;
  border-radius: 5px;
  color: dimgray;
  background-color: white;
}
